@model Garage_MVC_AmerAwras.Models.Receipt

@{
    ViewBag.Title = "Delete";
}

<h2>Check Out Vehicle</h2>


<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RegNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RegNumber)
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.VehicleType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VehicleType)
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.CheckIn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CheckIn)
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.CheckOut)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CheckOut)
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.TotalTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TotalTime)
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.Sum)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sum)
        </dd>
        <br />
        @*<dt>
            @Html.DisplayNameFor(model => model.NumberOfWheels)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfWheels)
        </dd>*@



    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Check Out" class="btn btn-default" />
        <input type="button" value="Print Receipt" class="btn btn-primary"  onclick="window.print();" />
        @Html.ActionLink("Back to Parked Page", "Index")
    </div>
    }
</div>
