
@model IEnumerable<Garage_MVC_AmerAwras.Models.ParkedVehicleViewModel>

@{
    ViewBag.Title = "Parked Vehicle";
}

<div class="container">
    <h2>Parked Vehicle</h2>
    <br />

    @using (Html.BeginForm("Search", "ParkedVehicle", FormMethod.Post))
    {
        @Html.TextBox("search")
        <button class="btn btn-default" type="submit" value="Search"><i class="glyphicon glyphicon-search"></i></button>

    }

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.ActionLink("Registration Number", "Index", new { sortOrder = "Descending" })

                </th>              

                <th>

                    @Html.DisplayNameFor(model => model.CheckIn)

                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Brand)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Color)

                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VehicleType)

                </th>
                
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody id="VehicleRow">

            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.Regnr)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.CheckIn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Brand)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Color)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VehicleType.VehicleTypeName)
                    </td>

                    <td></td>
                    <td>
                        @Html.ActionLink("Detail-view", "Details", new { id = @item.Id }) |
                        @Html.ActionLink("CheckOut", "Details", new { id = @item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
